[Unit]
Description=Cowbox PaaS Management Hub
Documentation=https://github.com/swapnashu/cowbox
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker start cowbox-server
ExecStop=/usr/bin/docker stop -t 15 cowbox-server
ExecReload=/usr/bin/docker restart cowbox-server

[Install]
WantedBy=multi-user.target
